<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.sudesi.schoolapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    <uses-permission android:name="android.net.wifi.WIFI_STATE_CHANGED" />
    <uses-permission android:name="android.net.conn.CONNECTIVITY_CHANGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".InternetBroadcast">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>

        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MainActivity"/>
        <activity android:name=".Home_Activity" />
        <activity android:name=".MyCalendarActivity" />
        <activity android:name=".Activity.RegisterActivity" />
        <activity android:name=".Activity.StudentActivity" />
        <activity android:name=".Activity.ParentActivity" />
        <activity android:name=".Activity.TeacherActivity" />
        <activity
            android:name=".Activity.AttendanceMarkActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Activity.TimetableActivity"
            android:screenOrientation="landscape"/>
    </application>

</manifest>